/* SearchBar */
.search-bar {
  margin-left: 350px;
  position: absolute;
}

.header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  padding: 10px 20px;
}

form {
  width: 600px;
  height: 40px;
  display: flex;
  font-family: 'Times New Roman', Serif;
  font-size: 10px;
  border: 1px solid black;
  margin-right: 160px;
  margin-top: 20px;
}

input {
  flex: 1;
}

#searchbar {
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #0D701D;
  padding: 5px 15px;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  border: none;
}

/* Logo */
.manzuko-logo {
  margin-left: 70px;
  margin-top: 20px;
}

/* Icons */
.nav-cart, .nav-fav, .nav-message, .nav-profile {
  color: black;
  padding-left: 2px;
}

/* Mobile Size Search Bar */
@media (max-width: 766px) {
  .manzuko-logo {
    margin-right: 4px;
    ;
    padding-top: 0px;
    padding-bottom: 5%;
  }
}

@media (max-width: 766px) {
  .search-bar {
    position: absolute;
    padding-top: 120px;
    padding-bottom: 5%;
    margin-left: 20px;
    position: absolute;
  }
}

@media (max-width: 766px) {
  form {
    width: 300px;
    text-align: center;
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .manzuko-logo {
    margin-right: 40px;
    margin-left: 140px;
    padding-top: 0px;
    padding-bottom: 15%;

  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .search-bar {
    position: absolute;
    padding-top: 80px;
    margin-bottom: 50px;;
    margin-left: 50px;
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 1023px)  {
  form {
    width: 500px;
    text-align: center;
    position: absolute;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .dropdown {
    margin-top: 33px;
    margin-left: 20px;
    height: 15px;
    position: relative;
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .dropbtn {
    background-color: #0D701D;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: inline;
    margin-right: 5px;
    margin-top: 23px;
    font-family: 'Times New Roman', Serif;
    font-weight: bold;
    height: 70px;
    font-size: 10px;
    text-align: center;
    height: 30px;
    width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}


/* NavBar */
.topnav {
  overflow: hidden;
  background-color: #0D701D;
  font-family: 'Times New Roman', Serif;
  font-weight: bold;
  text-align: center;
}

.topnav a {
  float: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17;
  padding-left: 30px;
  padding-right: 35px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0D701D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
  }

  #myTopnav {
    margin-top: 70px;
  }

  .topnav a {
    float: left;
    font-size: 12px;
  }
}

/* Dropdown */
.dropbtn {
  background-color: #0D701D;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: inline;
  top: 20px;
  margin-right: 220px;
  margin-top: 20px;
  font-family: 'Times New Roman', Serif;
  font-weight: bold;
  height: 60px;
  font-size: 11px;
  text-align: center;
  height: 50px;
  border-radius: 7px;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile Size  Library*/
@media (max-width: 766px) {
  .dropdown {
    margin-top: 100px;
    height: 10px;
    position: relative;
    display: inline;
  }
}

@media (max-width: 766px) {
  .dropbtn {
    background-color: #0D701D;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: inline;
    margin-right: 5px;
    ;
    margin-top: 23px;
    font-family: 'Times New Roman', Serif;
    font-weight: bold;
    height: 60px;
    font-size: 10px;
    text-align: center;
    height: 40px;
    width: 90px;
  }
}

@media (max-width: 766px) {
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

/* Hot This Week */
#DailyFeatures {
  margin-top: 50px;
  margin-bottom: 20px;
}
.Hot-daily{
  text-align:center;
}
.hot-text {
  margin-top: 100px;
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.lines {
  border: 3px solid green;
  margin-left: 465px;
  margin-right: 475px;
  margin-top: 1px;
}

.hot-feature {
  font-family: 'Calibri', sans-serif;
  font-weight: italic;
  font-size: 20px;
  margin-bottom: 30px;
}

.j{
margin-left: 50px;
margin-right: 50px;
padding-bottom: 20px;
}

.product{
  margin-top: 90px;
  margin-bottom: 40px;
  font-family: 'Calibri', Serif;
  font-weight: bold;
  text-align: center;
}
.product-text{

}
#footer{
  margin-top: 100px;
}

.terms-text{
  text-align: center;
}
.terms{
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Serif;
}
body{margin-top:20px;}

/* Feature Box
---------------------*/

.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #424B43;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h5 {
  color: black;
  font-weight: bold;
  font-family: 'Calibri';
}
.feature-box-1 p {
  margin: 0;
}
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #0D701D;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}
.section {
    padding: 100px 0;
    position: relative;
}
.section-title {
    padding-bottom: 45px;

}
.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    font-family: 'Times New Roman';
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}
