/* SearchBar */
.search-bar {
  margin-left: 350px;
  position: absolute;
}

.header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  padding: 10px 20px;
}

form {
  width: 600px;
  height: 40px;
  display: flex;
  font-family: 'Times New Roman', Serif;
  font-size: 10px;
  border: 1px solid black;
  margin-right: 160px;
  margin-top: 20px;
}

input {
  flex: 1;
}

#searchbar {
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #0D701D;
  padding: 5px 15px;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  border: none;
}

/* Logo */
.manzuko-logo {
  margin-left: 70px;
  margin-top: 20px;
}

/* Icons */
.nav-cart, .nav-fav, .nav-message, .nav-profile {
  color: black;
  padding-left: 2px;
}

/* Mobile Size Search Bar */
@media (max-width: 766px) {
  .manzuko-logo {
    margin-right: 4px;
    padding-top: 0px;
    padding-bottom: 5%;
  }
}

@media (max-width: 766px) {
  .search-bar {
    position: absolute;
    padding-top: 120px;
    padding-bottom: 5%;
    margin-left: 20px;
    position: absolute;
  }
}

@media (max-width: 766px) {
  form {
    width: 300px;
    text-align: center;
    position: absolute;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .manzuko-logo {
    margin-right: 40px;
    margin-left: 140px;
    padding-top: 0px;
    padding-bottom: 15%;

  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .search-bar {
    position: absolute;
    padding-top: 80px;
    margin-bottom: 50px;;
    margin-left: 50px;
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 1023px)  {
  form {
    width: 500px;
    text-align: center;
    position: absolute;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .dropdown {
    margin-top: 33px;
    margin-left: 20px;
    height: 15px;
    position: relative;
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .dropbtn {
    background-color: #0D701D;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: inline;
    margin-right: 5px;
    margin-top: 23px;
    font-family: 'Times New Roman', Serif;
    font-weight: bold;
    height: 70px;
    font-size: 10px;
    text-align: center;
    height: 30px;
    width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}


/* NavBar */
.topnav {
  overflow: hidden;
  background-color: #0D701D;
  font-family: 'Times New Roman', Serif;
  font-weight: bold;
  text-align: center;
}

.topnav a {
  float: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17;
  padding-left: 30px;
  padding-right: 35px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0D701D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
  }

  #myTopnav {
    margin-top: 70px;
  }

  .topnav a {
    float: left;
    font-size: 12px;
  }
}

/* Dropdown */
.dropbtn {
  background-color: #0D701D;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: inline;
  top: 20px;
  margin-right: 220px;
  margin-top: 20px;
  font-family: 'Times New Roman', Serif;
  font-weight: bold;
  height: 60px;
  font-size: 11px;
  text-align: center;
  height: 50px;
  border-radius: 7px;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile Size  Library*/
@media (max-width: 766px) {
  .dropdown {
    margin-top: 100px;
    height: 10px;
    position: relative;
    display: inline;
  }
}

@media (max-width: 766px) {
  .dropbtn {
    background-color: #0D701D;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: inline;
    margin-right: 5px;
    ;
    margin-top: 23px;
    font-family: 'Times New Roman', Serif;
    font-weight: bold;
    height: 60px;
    font-size: 10px;
    text-align: center;
    height: 40px;
    width: 90px;
  }
}

@media (max-width: 766px) {
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

div.main {
  margin-top: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:white;

}
div.head {
  background-color: #424B43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);

}

imag {
  width: 100%;
}
.A {
  font-weight: bold;
  font-size: 40px;
  margin: 0 0 15px;
  font-family: 'Calibri', sans-serif;
  color: red;
}
.AA{
    font-family: 'Calibri', sans-serif;
    color: white;
}
.B {
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 30px 0;
  color: white;
  font-size: 18px;
font-family: 'Calibri', sans-serif;
}
.C {
  text-decoration: transparent;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 5px;
  font-family: 'Calibri', sans-serif;
}
.c-btn{
  border-radius: 20px;
}
.C:hover {
  color: white;
}
.C::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: calc(50%);
  left: 0;
  width: 100%;
  height: 40%;
  pointer-events: none;
  background:   #424B43;
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform 0.33s;
}
.C:hover::before {
          transform: scale3d(1, 1, 1);
          transform-origin: 0% 50%;
}
div.imag {
  height: 300px;
  width: 100%;
  background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg");
  background-position: center;
  background-size: cover;
}
div.txt-container {
  margin: 60px 45px 55px;
}
@media screen and (min-width: 768px) {
  div.container {
    flex-direction: row;
    width: 100%;
  }
div.imag {
    height: 420px;
    min-width: 30px;
  }
 div.text-container {
    margin: 0 60px;
    max-width: 660px;
  }
  .V{
  }
}
@media screen and (min-width: 1024px) {
  div.container-head {
    max-width: 1200px;
  }
}@media screen and (max-width: 766px) {
.V {
  padding-top: 300px;
  }
  .info{
    padding-top: 270px;
  }
}

.rating-info{
  color: yellow;
  padding-left: 2px;
  margin-bottom: 20px;
}

.my-1{
  font-size: 15px;
}

.info{
margin-top:20px;
background-color: white;
color: black;
}
.radius-10 {
    border-radius: 10px !important;
}

.border-info {
    border-left: 5px solid  #0dcaf0 !important;
}
.border-danger {
    border-left: 5px solid  #fd3550 !important;
}
.border-success {
    border-left: 5px solid  #15ca20 !important;
}
.border-warning {
    border-left: 5px solid  #ffc107 !important;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.bg-gradient-scooter {
    background: #17ead9;
    background: -webkit-linear-gradient(
45deg
 , #17ead9, #6078ea)!important;
    background: linear-gradient(
45deg
 , #17ead9, #6078ea)!important;
}
.widgets-icons-2 {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    font-size: 27px;
    border-radius: 10px;
}
.rounded-circle {
    border-radius: 50%!important;
}
.text-white {
    color: #fff!important;
}
.ms-auto {
    margin-left: auto!important;
}
.bg-gradient-bloody {
    background: #f54ea2;
    background: -webkit-linear-gradient(
45deg
 , #f54ea2, #ff7676)!important;
    background: linear-gradient(
45deg
 , #f54ea2, #ff7676)!important;
}

.bg-gradient-ohhappiness {
    background: #00b09b;
    background: -webkit-linear-gradient(
45deg
 , #00b09b, #96c93d)!important;
    background: linear-gradient(
45deg
 , #00b09b, #96c93d)!important;
}

.bg-gradient-blooker {
    background: #ffdf40;
    background: -webkit-linear-gradient(
45deg
 , #ffdf40, #ff8359)!important;
    background: linear-gradient(
45deg
 , #ffdf40, #ff8359)!important;
}

/*Review and Ratings */

.rr{
  margin-top: 100px;
  margin-left: 100px;
}
.r{
  font-family: 'Calibri', sans-serif;
  font-weight: bold;
}

body{margin-top:20px;
background: black;
}
.review-list ul li .left span {
     width: 32px;
     height: 32px;
     display: inline-block;
}
 .review-list ul li .left {
     flex: none;
     max-width: none;
     margin: 0 10px 0 0;
}
 .review-list ul li .left span img {
     border-radius: 50%;
}
 .review-list ul li .right h4 {
     font-size: 16px;
     margin: 0;
     display: flex;
}
 .review-list ul li .right h4 .gig-rating {
     display: flex;
     align-items: center;
     margin-left: 10px;
     color: #ffbf00;
}
 .review-list ul li .right h4 .gig-rating svg {
     margin: 0 4px 0 0px;
}
 .country .country-flag {
     width: 16px;
     height: 16px;
     vertical-align: text-bottom;
     margin: 0 7px 0 0px;
     border: 1px solid #fff;
     border-radius: 50px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
 .country .country-name {
     color: #95979d;
     font-size: 13px;
     font-weight: 600;
}
 .review-list ul li {
     border-bottom: 1px solid #dadbdd;
     padding: 0 0 30px;
     margin: 0 0 30px;
}
 .review-list ul li .right {
     flex: auto;
}
 .review-list ul li .review-description {
     margin: 20px 0 0;
}
 .review-list ul li .review-description p {
     font-size: 14px;
     margin: 0;
}
 .review-list ul li .publish {
     font-size: 13px;
     color: #95979d;
}

.review-section h4 {
     font-size: 20px;
     color: #222325;
     font-weight: 700;
}
 .review-section .stars-counters tr .stars-filter.fit-button {
     padding: 6px;
     border: none;
     color: #4a73e8;
     text-align: left;
}
 .review-section .fit-progressbar-bar .fit-progressbar-background {
     position: relative;
     height: 8px;
     background: #efeff0;
     -webkit-box-flex: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
     background-color: #ffffff;
    ;
     border-radius: 999px;
}
 .review-section .stars-counters tr .star-progress-bar .progress-fill {
     background-color: #ffb33e;
}
 .review-section .fit-progressbar-bar .progress-fill {
     background: #2cdd9b;
     background-color: rgb(29, 191, 115);
     height: 100%;
     position: absolute;
     left: 0;
     z-index: 1;
     border-radius: 999px;
}
 .review-section .fit-progressbar-bar {
     display: flex;
     align-items: center;
}
 .review-section .stars-counters td {
     white-space: nowrap;
}
 .review-section .stars-counters tr .progress-bar-container {
     width: 100%;
     padding: 0 10px 0 6px;
     margin: auto;
}
 .ranking h6 {
     font-weight: 600;
     padding-bottom: 16px;
}
 .ranking li {
     display: flex;
     justify-content: space-between;
     color: #95979d;
     padding-bottom: 8px;
}
 .review-section .stars-counters td.star-num {
     color: #4a73e8;
}
 .ranking li>span {
     color: #62646a;
     white-space: nowrap;
     margin-left: 12px;
}
 .review-section {
     border-bottom: 1px solid #dadbdd;
     padding-bottom: 24px;
     margin-bottom: 34px;
     padding-top: 64px;
}
 .review-section select, .review-section .select2-container {
     width: 188px !important;
     border-radius: 3px;
}
ul, ul li {
    list-style: none;
    margin: 0px;
}
.helpful-thumbs, .helpful-thumb {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.fit-button{
  background-color: white;
}

  /* Footer */
footer{
  font-family: 'Calibri', sans-serif;
top: 1000px;
}
.footer-f{
  margin-top: 300px;
}
